academictorrents
albumentations==1.4.4
einops
fvcore
jsonargparse[signatures]>=4.27.7
lightning==2.2.0
lpips==0.1.4
omegaconf
PyYAML==6.0.2
requests
torch==2.4.0+cu124
torchaudio==2.4.0+cu124
torchmetrics
torchvision==0.19.0+cu124
transformers==4.37.2
triton>=2.1.0
timm==0.9.11
tensorboard
tensorboardx
